.footer{
  background-color: #ffffff;
  padding: 4rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-heading{
  font-size: 20px;
}

.footer-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.socials{
  display: flex;
  gap: 20px;
}

.icons{
  width: 30px;
  height: 30px;
}

.copyright{
  font-size: 14px;
}