.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  /* z-index: 1000; */
  /* font-family: 'Quicksand', sans-serif;; */
}

.navbar-links{
  display: flex;
  gap: 30px;

}

.navbar a{
  color: #594545;
}

.navbar a:hover{
  font-weight: bold;
}

.navbar .web-name{
  /* font-family: 'Quicksand', sans-serif; */
  font-weight: bold;
}

.navbar-logo{
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar .logo{
  width: 50px;
  height: 50px;
}

.hamburger{
  display: none;
}


@media(max-width:768px){
  .navbar-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: white;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
    gap: 1rem;
    display: none;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  .navbar-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
  }

}